<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	    <link rel="stylesheet" type="text/css" href="../public/css/cuo.css" />
		<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css" />
		<script type="text/javascript" src="../public/js/bootstrap.js"></script>
		<script type="text/javascript" src="../public/js/rem.js"></script>
		<title></title>
	</head>
	<body style="background: #f2f2f2;">
		<div class="container">
			<div style="width: 100%;height:auto;background: #1cacf9;">
				<div class="row nav_sousuo" style="border: none;background: #1cacf9;">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<a class="fanhui">
							<img src="../public/img/fanhui2.png" alt="" />
						</a>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<span class="title" style="color: #fff;">我的错题</span>
						<div class="clearfix"></div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 shezhi">
						<a href="#">
							<img src="../public/img/shezhi.png" alt="" />
						</a>
					</div>
				</div>
				<div class="row cuoti_box">
					<div class="cuoti_top">
						<div class="cuoti">
							<h5>全部错题</h5>
							<h6><span>1</span>题</h6>
						</div>
					</div>
					<div class="cuoti_bottom">
						<div class="cuoti_btn">
							<a href="#">保过课程</a>
							<a href="#" style="float: right;">我要练习</a>
							<div class="clearfix"></div>
						</div>
						<p>动画题一片惨淡，要多多练习哇~</p>
					</div>
				</div>
			</div>
		</div>
		<div class="jiexi">
			<div class="jiexibox">
				<span></span>
				<h4>错题分类解析练习</h4>
				<span></span>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="dingdan" style="padding: 0;">
			<div class="dingdan_yi" style="padding:0 0.3rem;border-bottom: 1px solid #eee;">
				<span class="icon_01"></span>
				<h4>动画题</h4>
				<span class="you"></span>
				<div class="clearfix"></div>
			</div>
			<div class="dingdan_yi" style="padding:0 0.3rem;">
				<span class="icon_01"></span>
				<h4>单选题</h4>
				<span class="you"></span>
				<div class="clearfix"></div>
			</div>
		</div>
	</body>
</html>
