<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../public/css/danxuan.css" />
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css" />
        <script type="text/javascript" src="../public/js/bootstrap.js"></script>
        <script type="text/javascript" src="../public/js/rem.js"></script>
	<title>Document</title>
</head>
<body>
	<div class="timu">
			<span class="fh_left"></span>
			<span class="moshi">
				<a href="#" style="color: #fff; background: #0095f7; border-top-left-radius: 0.08rem; border-bottom-left-radius: 0.08rem;">
					答题模式
				</a>
				<a href="#" style="border: 2px solid #e4e4e4; color: #383838; border-left: none; padding: 0.13rem 0.18rem 0.13rem 0.2rem; box-sizing: border-box; border-top-right-radius: 0.08rem; border-bottom-right-radius: 0.08rem;">
					背题模式
				</a>
				<div class="clearfix"></div>
			</span>
			<span class="ziti"></span>
			<div class="clearfix"></div>
		</div>
		<div class="timu_con">
			<div class="timu_con_title">
				<p style="line-height: 0.6rem;"><span style="line-height:0.44rem;padding: 0.01rem 0.08rem;">单选题</span>&nbsp;&nbsp;世界杯足球赛表现优异的国家有：巴西、土耳其、韩国、德国与塞内加尔等国。大家除了欣赏球员们精湛的球技外，也来关心这些国家的人口问题。五个国家中，人口最多的是</p>
				<div class="clearfix"></div>
			</div>
			<div class="timu_con_yi">
				<span>A</span>
				<h4>韩国</h4>
				<div class="clearfix"></div>
			</div>
			<div class="timu_con_yi">
				<span>B</span>
				<h4>土耳其</h4>
				<div class="clearfix"></div>
			</div>
			<div class="timu_con_yi">
				<span>C</span>
				<h4>巴西</h4>
				<div class="clearfix"></div>
			</div>
			<div class="timu_con_yi">
				<span>D</span>
				<h4>德国</h4>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="queren">
			<a href="#">
				确认答题
			</a>
		</div>
		<!-- <div class="timu_bottom">
			<a class="shoucang" href="#">
				<span></span>
				<h5>已收藏</h5>
				<div class="clearfix"></div>
			</a>
			<div class="tishu">
				<span class="gd"></span>
				<h5><span>3</span>/1235</h5>
				<div class="clearfix"></div>
			</div>
			<div class="cuo">
				<span></span>
				<h5>1</h5>
				<div class="clearfix"></div>
			</div>
			<div class="dui">
				<span></span>
				<h5>1</h5>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div> -->
</body>
</html>