<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="../public/css/denglu.css" />
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css" />
        <script type="text/javascript" src="../public/js/bootstrap.js"></script>
        <script type="text/javascript" src="../public/js/rem.js"></script>
        <title></title>
    </head>
    <body style="background: -webkit-linear-gradient(#eef4f8,#f4f2f5);background: -o-linear-gradient(#eef4f8,#f4f2f5);background: -moz-linear-gradient(#eef4f8,#f4f2f5);background: -mos-linear-gradient(#eef4f8,#f4f2f5);background: linear-gradient(#eef4f8,#f4f2f5);  ">
        <div class="container">
            <div class="row nav_sousuo" style="border-bottom: none;">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a class="fanhui" href="index.html">
                        <img src="../public/img/fanhui.png" alt="" />
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                </div>
            </div>
        </div>
        <div class="denglu">
            <h1 style="margin: 0;">您好，请登陆</h1>
            <form action="">
                <input type="text" placeholder="请输入手机号"/>
                <input type="password" placeholder="请输入验证码"/><span class="yanzheng"><a href="#">发送验证码</a></span>
                <input type="button" value="确定" placeholder="确定"/>
            </form>
            <div class="yonghu">
                <span></span>
                <h3 style="margin: 0;">同意用户使用协议</h3>
                <h4 style="margin: 0;">手机号密码登陆</h4>
                <div class="clearfix"></div>
            </div>
            <div class="disanfang">
                <div class="disan_yi">
                    <span style="margin-right: 0.5rem;margin-top: 0.1rem;float: left;"></span>
                    <h4 style="margin: 0;">第三方账号直接登陆</h4>
                    <span style="margin-top: 0.1rem;float: right;"></span>
                    <div class="clearfix"></div>
                </div>
                <div class="disan_er">
                    <a href="#" style="float: left;">
                        <img src="../public/img/qq.png" alt="" />
                    </a>
                    <a href="#" style="float: right;">
                        <img src="../public/img/weixin.png" alt="" />
                    </a>
                    <div class="clearfix"></div>
                </div>
                <div class="disan_san">
                    <p>如无法登陆，请点击<span>账号申诉</span>申请客服协助</p>
                </div>
            </div>
        </div>
    </body>
</html>
