<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index.css">

</head>
<body>
<div class="k-head">
    <a class="k-h-left" href="index.html">
        <i>&#xe66b;</i>
    </a>
    <div class="k-h-right">
        <a class="k-h-left">
            <i>&#xe62f;</i>
        </a>
    </div>
</div>
<div class="k-neirong">
    1、<span>我国最北部的城市漠河冬季寒冷漫长，而海南岛最南部的天涯海角却终年如夏，造成这种南北气候差异的因素是</span>
    <form action="">
        <input type="radio" name="daan">地形
        <input type="radio" name="daan">纬度位置
        <input type="radio" name="daan">洋流
        <input type="radio" name="daan">海陆位置
    </form>
</div>
<a class="k-xia" href="kaoshi1.html">下一题</a>

</body>
</html>