<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index.css">
<style>
    body{
        background: white;
    }
</style>
</head>
<body>
<div class="k-head">
    <a class="k-h-left" href="index.html">
        <i>&#xe66b;</i>
    </a>
    <div class="k-h-right">
        <a class="k-h-left">
            <i>&#xe62f;</i>
        </a>
    </div>
</div>
<div class="k-neirong">
    2、<span>下游地区，由于泥沙堆积，河床逐渐抬高，成为“地上河”，该河流为</span>
    <form action="">
        <input type="radio" name="daan">黄河
        <input type="radio" name="daan">长江
        <input type="radio" name="daan">珠江
        <input type="radio" name="daan">黑龙江
    </form>
</div>
<a class="k-xia" href="kaoshi2.html">下一题</a>
<a class="k-shang" href="kaoshi.html">上一题</a>

</body>
</html>