<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>	</title>
	<link rel="stylesheet" type="text/css" href="../public/css/news.css"/>
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css" />
        <script type="text/javascript" src="../public/js/bootstrap.js"></script>
        <script type="text/javascript" src="../public/js/rem.js"></script>
</head>
<body>
	<header class="header">
			<a href="jczs.html" style="color: #fff;" class="fanhui">
				<img src="../public/img/fanhui.png" alt="">
			</a>
			<span>消息</span>
			<div class="tk">已读</div>
		</header>
</body>
</html>