<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
<div class="k-head">
    <a class="k-h-left" href="/">
        <i>&#xe66b;</i>
    </a>
    <div class="k-h-right">
        <a class="k-h-left">
            <i>&#xe62f;</i>
        </a>
    </div>
</div>
<div class="k-neirong">
    1、<span>妙应寺白塔始建于元朝至元八年（公元1271年），由当时哪国的工艺家阿尼哥奉敕主持修建？</span>
    <form action="">
        <input type="radio" name="daan">泰国
        <input type="radio" name="daan">老挝
        <input type="radio" name="daan">越南
        <input type="radio" name="daan">尼泊尔
    </form>
</div>
<div class="k-jiexi">
    <span>【解析】</span> <br>
    <span>妙应寺白塔是由尼泊尔的工艺家阿尼哥奉敕主持修建的。</span>
</div>
<a class="k-xia" href="wrong1.html">下一题</a>

</body>
</html>