<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">

</head>
<body>
<div class="k-head">
    <a class="k-h-left" href="/">
        <i>&#xe66b;</i>
    </a>
    <div class="k-h-right">
        <a class="k-h-left">
            <i>&#xe62f;</i>
        </a>
    </div>
</div>
<div class="k-neirong">
    3、<span>非洲的第一大河是？</span>
    <form action="">
        <input type="radio" name="daan">尼罗河
        <input type="radio" name="daan">刚果河
        <input type="radio" name="daan">尼日尔河
        <input type="radio" name="daan">赞比西河
    </form>
</div>
<div class="k-jiexi">
    <span>【解析】</span> <br>
    <span>非洲的第一大河是尼罗河。</span>
</div>
<a class="k-shang" href="/cuo1">上一题</a>

</body>
</html>