<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

	<link rel="stylesheet" type="text/css" href="../public/css/zhuangxaing.css" />
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css" />
        <script type="text/javascript" src="../public/js/bootstrap.js"></script>
        <script type="text/javascript" src="../public/js/rem.js"></script>
</head>
<body>
	<header class="header">
			<a href="index.html" style="color:#fff;">
				<i class="iconfont">&#xe6b7;</i>
			</a>
			<span>专项练习</span>
		</header>
		<section class="yd">
			<div class="yuan">
				<i>85%</i><span>正确率</span>
			</div>
			<div class="yd1">
				<span>已答:</span><br /><p><i class="ydsl">58</i>/<i>789</i>题</p>
			</div>
			<div class="dadui">
				<span>答对:</span><p><i class="daduisl">42</i>题</p>
			</div>
		</section>
		<section class="list">
			<ul>
				<li>
					<a href="">
						<span>单选题</span>
						<i class="iconfont">&#xe62d;</i>
					</a>
				</li>
				<li>
					<a href="">
						<span>多选题</span>
						<i class="iconfont">&#xe62d;</i>
					</a>
				</li>
				<li>
					<a href="">
						<span>判断题</span>
						<i class="iconfont">&#xe62d;</i>
					</a>
				</li>
				<li>
					<a href="">
						<span>简答题</span>
						<i class="iconfont">&#xe62d;</i>
					</a>
				</li>
			</ul>
		</section>
</body>
</html>