/*
* @Author: asus
* @Date:   2018-03-04 22:28:27
* @Last Modified by:   asus
* @Last Modified time: 2018-03-04 22:48:13
*/
.fanhui img {
    margin-top: 0.24rem;
    width: 0.4rem;
    height: 0.29rem;
}
.fanhui {
    display: block;
    width: 100%;
    height: 0.84rem;
}

.denglu {
    padding: 0.4rem;
}
.denglu form input[type="text"] {
    width: 100%;
    height: 0.92rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #d8d8d8;
    background: url(../img/zhanghao.png) no-repeat 0.18rem center;
    background-size: 0.32rem 0.4rem;
    padding-left: 0.7rem;
    color: #bcbec6;
    font-size: 0.28rem;
}

.denglu form input[type="password"] {
    width: 100%;
    height: 0.92rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #d8d8d8;
    background: url(../img/mima.png) no-repeat 0.18rem center;
    background-size: 0.37rem 0.4rem;
    padding-left: 0.7rem;
    color: #bcbec6;
    font-size: 0.28rem;
}


a {
    color: #337ab7;
    text-decoration: none;
}

.yanzheng {
    position: absolute;
    left: 4.62rem;
    top: 1.2rem;
    display: block;
    width: 2.06rem;
    height: 0.4rem;
    border-left: 1px solid #d8d8d8;
    text-align: center;
    color: #469df3;
}
.denglu form input[type="button"] {
    width: 100%;
    height: 0.88rem;
    border-radius: 0.4rem;
    margin-top: 0.4rem;
    border: none;
    background: #5bb8ff;
    
    color: #fff;
    font-size: 0.3rem;
    box-shadow: 0 2px 2px 0 #e9eaed;
}
.yonghu h3 {
    float: left;
    font-size: 0.24rem;
    padding-left: 0.14rem;
    color: #333333;
}.yonghu span {
    width: 0.24rem;
    height: 0.24rem;
    display: block;
    float: left;
    background: url(../img/queding.png) no-repeat center center;
    background-size: 100% 100%;
}
.yonghu h4 {
    float: right;
    font-size: 0.24rem;
}
.disanfang {
    margin-top: 3.4rem;
}
.disan_er a img {
    width: 0.62rem;
    height: 0.62rem;
}

.disan_yi h4 {
    float: left;
    font-size: 0.22rem;
    color: #666666;
}
.disan_yi span {
    width: 1.78rem;
    height: 0.01rem;
    background: #d8d8d8;
    display: block;
}
.disan_yi span {
    width: 1.78rem;
    height: 0.01rem;
    background: #d8d8d8;
    display: block;
}
.disan_er {
    width: 2.2rem;
    margin: 0.45rem auto 0 auto;
    height: auto;
}
.disan_san p {
    text-align: center;
    color: #999999;
    font-size: 0.22rem;
}

.disanfang {
    margin-top: 3.4rem;
}
.disan_san {
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
}
.yonghu {
    width: 100%;
    height: auto;
    margin-top: 0.7rem;
}
.yanzheng {
    position: absolute;
    left: 4.62rem;
    top: 1.2rem;
    display: block;
    width: 2.06rem;
    height: 0.4rem;
    border-left: 1px solid #d8d8d8;
    text-align: center;
    color: #469df3;
}
.denglu h1 {
    font-size: 0.6rem;
}
.denglu form {
    margin-top: 0.96rem;
    position: relative;
}
